<li id="comment-<%= comment.id %>">
  <span class="content"><%= comment.content %></span>
  <span class="user"><%= link_to current_user.name, current_user %></span>
  <span class="timestamp">
    <%= time_ago_in_words(comment.created_at) %> 前发布.
  </span>
</li>