<div class="navbar navbar-fixed-bottom">
  <footer class="container-fluid">
    <p class="text-center">Copyright &copy; <%= Date.today.year %> University of Chinese Academy of Sciences — All rights reserved.
    </p>
  </footer>
</div>
